{% extends 'base.html.twig' %}

{% block title %}<title>Dépôt vente | Arsenal Pro</title>{% endblock %}

{% block content %}

<section class="apropos">
    <h1 class="text-center mb-3 font-weight-bold">BLOG</h1><br>
</section>

{% endblock %}

