{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if ea.crud.currentAction == 'index' %}
        <div>
        {% if field.value %}
            <p style='color: red;'>VENTE FLASH !</p>
        {% endif %}
        </div>
{% endif %}