<html>
    <body>
        <section>
            <form>
                <input type="number" name="offset_temps" id="offset_temps" />
                <input type="submit" name="submit_vf" id="submit_vf" value="Mettre à jour"/>
            </form>
        </section>
    </body>
</html>