{% extends 'base.html.twig' %}

{% block title %}<title>Mentions légales | Arsenal Pro</title>{% endblock %}
{% block annonce %} {% endblock %}
{% block content %}
{{ render(controller('App\\Controller\\HomeController::banniereShow',{ 'titre': "Nos mentions légales", 'section' : 0, 'multi' : false })) }}
<row class="">
    <hr>
    <br/>
    <article class="border text-justify">
        <div>
        {% for condition in legales %}
            <div>
                <h4>{{condition.titre|upper}}</h4>
                <p style="white-space: pre-line;">{{condition.conditions|raw}}</p>
            </div>
        {% endfor %}
        </div>
    </article>

</row>

{% endblock %}
