<div id="bourseAuxMunitionsBanniere">
    <div>
        <h2 class="text-center text-light">Bourse aux munitions</h2>
    </div>
    <div class="d-flex bamEnSous">
        <div>
            <p class="text-center text-light">Tarifs attractifs pour l'achat de grandes quantités</p>
        </div>
        <div>
            <p class="text-center text-light">Pouvoir suivre l'évolution des commandes en temps réel</p>
        </div>
        <div>
            <p class="text-center text-light">Garantie d'obtenir les munitions commandées si la quantité requise est atteinte</p>
        </div>
        <div>
            <p class="text-center text-light">Remboursement intégral en cas d'annulation de la vente</p>
        </div>
    </div>
    <img src="/assets/image/arsenal-pro-munitions.jpg"/>
</div>